<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Paiement - Le Domaine de Léa</title>

    <link rel="icon"
          type="image/png"
          href="{{ url_for('static', filename='images/logo.png') }}">

    <link rel="apple-touch-icon"
          href="{{ url_for('static', filename='images/logo.png') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav class="navbar">
    <a href="/">Accueil</a>
    <a href="/chalet">Le chalet</a>
    <a href="/photos">Photos</a>
    <a href="/tarifs">Tarifs</a>
    <a href="/reservation">Réservation</a>
    <a href="/panier">Panier</a>
    <a href="/contact">Contact</a>
</nav>

<img src="{{ url_for('static', filename='images/banniere.jpg') }}" class="banniere">

<div class="contenu">

🔒 Démonstration

Vous êtes arrivé à l'étape du paiement.

<br><br>

Votre client a confirmé et réservé son séjour dans votre établissement.
<br><br>
Vous recevez la confirmation de paiement.
<br><br>
La réservation s'est automatiquement enregistrée dans l'agenda de votre choix.
<br><br>

<br><br>
    
Lors de la création de votre futur site internet, le moyen de paiement de votre choix pourra être intégré.

</p>

<p>

<br><br>

<br><br>

<br><br>

✔ Stripe

<br><br>

✔ PayPal

<br><br>

✔ Terminal de paiement

<br><br>

✔ Virement bancaire

<br><br>

✔ Paiement sur place

<br><br>

✔ Acompte

<br><br>

✔ Aucun paiement en ligne

</p>

<p>

<br><br>

<br><br>

<br><br>
    
Le paiement en ligne est entièrement personnalisable selon votre activité.

<br><br>

Suivant votre choix, nous intégrons ensemble le moyen de paiement.

</p>


</div>

<br>


<div style="text-align:center;">

    <a href="https://studio-web-applications.onrender.com" target="_blank">

        <button>

            Découvrir Studio Web & Applications

        </button>

    </a>

</div>

</div>

</div>

<footer>

<div class="footer-contenu">

<h3>Le Domaine de Léa</h3>

<p>

Ce site est un exemple de réalisation.

<br><br>

Chaque projet est entièrement conçu sur mesure selon votre activité, vos besoins et votre identité visuelle.

</p>

<p>

📞 07 44 42 74 01

</p>

<p>

✉ studio.web.applications@gmail.com

</p>

<a href="https://studio-web-applications.onrender.com" target="_blank">

<button>

Demander un devis gratuit

</button>

</a>

<hr>

<p>

<strong>Studio Web & Applications</strong>

</p>

<p>

Création de sites internet • Applications mobiles • Solutions numériques sur mesure

</p>

<p>

🌐 <a href="https://studio-web-applications.onrender.com" target="_blank">

Découvrir Studio Web & Applications

</a>

</p>

<br>

<p>

<strong>Site vitrine - À partir de 550 € TTC</strong>

</p>

<p>

Création de sites internet professionnels adaptés à votre activité.

</p>

<p>

© 2026 Studio Web & Applications - Tous droits réservés.

</p>

</div>

</footer>

</body>

</html>

