🔒 Démonstration

Vous êtes arrivé à l'étape du paiement.

Lors de la création de votre futur site internet, le moyen de paiement de votre choix pourra être intégré :

✓ Stripe
✓ PayPal
✓ Virement bancaire
✓ Paiement sur place
✓ Acompte
✓ Aucun paiement en ligne

Le paiement en ligne est entièrement personnalisable selon votre activité et n'est pas obligatoire.

------------------------------------------------

Montant du séjour

{{ reservation.total }} €

------------------------------------------------

[ Continuer la démonstration ]
